BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
ContinuationIndentWidth: 4
ColumnLimit: 150
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
PointerAlignment: Left
SortIncludes: Never
